In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_curve, roc_auc_score, f1_score
from tqdm import tqdm
import json

pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)
pd.options.mode.chained_assignment = None
np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

In [2]:
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

def to_datetime(date):
    """
    Converts a numpy datetime64 object to a python datetime object 
    Input:
      date - a np.datetime64 object
    Output:
      DATE - a python datetime object
    """
    timestamp = ((date - np.datetime64('1970-01-01T00:00:00')) / np.timedelta64(1, 's'))
    return datetime.utcfromtimestamp(timestamp)

In [3]:
# Считывание данных

sot = pd.read_csv('sotrudniki.csv', sep = ';')
sot['date'] = pd.to_datetime(sot['date'], format='%Y-%m-%d')

train_target_df = sot[['hash_tab_num', 'date', 'sick']]
train_target_df.head()

   hash_tab_num       date  sick
0             0 2015-04-01     0
1             0 2015-05-01     0
2             0 2015-06-01     0
3             0 2015-07-01     0
4             0 2015-08-01     0

---

In [4]:
sot_data = sot[[
    'hash_tab_num','date','category','gender','razryad_fact','work_experience_company',
    'name_fact_lvl5','education','home_to_work_distance'
]]

sot_data['gender'] = sot_data['gender'].map(lambda x: 1 if x == 'мужской' else 0)

In [5]:
# Создание вспомогательно датасета с информацией о количестве сотрудников в подразделении
# по фактическому месту работы

division_count = sot_data[['hash_tab_num','date','name_fact_lvl5']].\
groupby(['name_fact_lvl5','date']).agg('count').reset_index()

division_count.columns = ['name_fact_lvl5', 'date', 'personel_num']

sot_data = pd.merge(sot_data, division_count, how = 'left', on = ['date','name_fact_lvl5'])

In [6]:
# Создание dummy переменных

sot_data.education = sot_data['education']\
.map(lambda x: 'Высшее' if x in ['Высшее образование','Высшее-бакалавриат','Высшее-специалитет'] else(\
'Среднее_профессинальное' if x in ['Ср.профессиональное','Нач.профессиональное'] else 'Начальное_среднее'))

sot_data = pd.get_dummies(sot_data, columns = ['category','education','razryad_fact']).drop('name_fact_lvl5', axis = 1)
sot_data['orig_date'] = sot_data['date'].copy()

In [7]:
sot_data.head()

,hash_tab_num,date,gender,work_experience_company,home_to_work_distance,personel_num,category_Рабочие,category_Руководители,category_Служащие,category_Специалисты,education_Высшее,education_Начальное_среднее,education_Среднее_профессинальное,razryad_fact_0,razryad_fact_1,razryad_fact_2,razryad_fact_3,razryad_fact_4,razryad_fact_5,razryad_fact_6,orig_date
0,0,2015-04-01,1,9.0,NaN,NaN,1,0,0,0,0,1,0,0,0,0,1,0,0,0,2015-04-01
1,0,2015-05-01,1,9.0,NaN,NaN,1,0,0,0,0,1,0,0,0,0,1,0,0,0,2015-05-01
2,0,2015-06-01,1,9.0,NaN,NaN,1,0,0,0,0,1,0,0,0,0,1,0,0,0,2015-06-01
3,0,2015-07-01,1,9.0,NaN,NaN,1,0,0,0,0,1,0,0,0,0,1,0,0,0,2015-07-01
4,0,2015-08-01,1,9.0,NaN,NaN,1,0,0,0,0,1,0,0,0,0,1,0,0,0,2015-08-01

In [8]:
submission_extra = sot_data[sot_data['orig_date'] == pd.to_datetime('2019-08-01')]
submission_extra['target'] = 0

---

In [9]:
with open('transformed_data/date_of_birth.json', 'r') as f:
    date_of_birth_dict = json.load(f)
    date_of_birth_dict = {int(k): int(v) for k, v in date_of_birth_dict.items()}


def calc_age(hash_tab_num, calc_date, date_of_birth_dict):
    cur_date = int(calc_date)
    birth_date = date_of_birth_dict[hash_tab_num]
    age = cur_date - birth_date
    return age


with open('transformed_data/relatives_info.json', 'r') as f:
    relatives_dict = json.load(f)
    relatives_dict = {int(k): v for k, v in relatives_dict.items()}


def calc_relatives_bins(hash_tab_num, calc_date, relatives_dict):
    '''
    bins:
        0: 0 - 3: младенец
        1: 4 - 7: ребенок
        2: 8 - 18: школьник
        3: 19 - 35: молодежь :)
        4: 36 - 55(F), 60(M): предпенсионный возраст
        5: 55(F), 60(M) - +++: пенсионер
        6: кол-во родственников мужского рода
        7: кол-во родственников женского рода
    '''
    
    bins = [0] * 8
    if hash_tab_num not in relatives_dict:
        return bins
    
    cur_date = int(calc_date)
    for (sex, birth_date) in relatives_dict[hash_tab_num]:
        if sex == 'M':
            bins[6] += 1
        elif sex == 'F':
            bins[7] += 1
            
        if birth_date < 0:
            continue
            
        age = cur_date - birth_date
        if age < 0:
            continue
        elif age <= 3:
            bins[0] += 1
        elif age <= 7:
            bins[1] += 1
        elif age <= 18:
            bins[2] += 1
        elif age <= 35:
            bins[3] += 1
        else:
            if (sex == 'M' and age >= 60) or (sex == 'F' and age >= 55):
                bins[5] += 1
            else:
                bins[4] += 1
    return bins

In [10]:
def target_date_features(df):
    df['year'] = df['date'].dt.year
    df['age'] = df.apply(lambda x: calc_age(x['hash_tab_num'], x['year'], date_of_birth_dict), axis=1)
    df['is_pensioner'] = (((df['age'] >= 60) & (df['gender'] == 1)) | ((df['age'] >= 55) & (df['gender'] == 0))).astype(int)
    df['relatives'] = df.apply(lambda x: calc_relatives_bins(x['hash_tab_num'], x['year'], relatives_dict), axis=1)
    for i in range(8):
        df[f'relatives_{i}'] = df['relatives'].apply(lambda x: x[i])
    df = df.drop(columns=['year', 'relatives'])
    
    return df

## 1 Month model

In [11]:
def run_training(months, check_shift):
    prediction_dates = sorted(sot_data['orig_date'].unique())[:-(months + check_shift)]
    
    roc_auc_scores = []
    thresholds = []
    f1_scores = []
    last_model = None

    for idx, prediction_date in enumerate(prediction_dates):

        df_train = sot_data[sot_data['orig_date'] <= prediction_date].copy()
        df_train['date'] = df_train['orig_date'] + pd.DateOffset(months=months)
        df_train = pd.merge(df_train, train_target_df, on=['hash_tab_num', 'date'])

        test_date = to_datetime(prediction_date) + relativedelta(months=check_shift)
        df_test = sot_data[sot_data['orig_date'] == test_date].copy()
        df_test['date'] = df_test['orig_date'] + pd.DateOffset(months=months)
        df_test = pd.merge(df_test, train_target_df, on=['hash_tab_num', 'date'])

        df_train = target_date_features(df_train)
        df_test = target_date_features(df_test)

        X_train = df_train.drop(columns=['hash_tab_num', 'date', 'orig_date', 'sick']).fillna(-100)
        X_test = df_test.drop(columns=['hash_tab_num', 'date', 'orig_date', 'sick']).fillna(-100)

        y_train = df_train['sick']
        y_test = df_test['sick']

        model = RandomForestClassifier()
        model.fit(X_train, y_train)
        preds = model.predict_proba(X_test)[:, 1]
        roc_auc_score_ = roc_auc_score(y_test, preds)
        roc_auc_scores.append(roc_auc_score_)

        if len(thresholds) > 0:
            th = np.mean(thresholds)
            f1_score_ = f1_score(y_test, (preds > th).astype(int))
            f1_scores.append(f1_score_)
        else:
            f1_score_ = 0


        p, r, thresholds_ = precision_recall_curve(y_test, preds)
        f1_scores_ = 2 * r * p / (r + p)
        f1_scores_ = f1_scores_[p > 0]
        th = thresholds_[np.argmax(f1_scores_)]
        thresholds.append(th)

        last_model = model
        print(f'{idx + 1}/{len(prediction_dates)}', roc_auc_score_, f1_score_, th, sep='\t')
        
    return last_model, roc_auc_scores, thresholds, f1_scores

In [12]:
m1 = run_training(months=1, check_shift=1)

1/54	0.6732342526209291	0	0.6
2/54	0.6601655416264867	0.22500000000000003	0.14400000000000002
3/54	0.5672982923227323	0.1990950226244344	0.29333333333333333
4/54	0.6896228956228956	0.38490566037735846	0.31
5/54	0.6905799414737963	0.35555555555555557	0.3606666666666667
6/54	0.6558164979875738	0.30094043887147337	0.32312445887445873
7/54	0.6885082832219216	0.33994334277620397	0.24
8/54	0.680344415350186	0.28726287262872624	0.11467735042735047
9/54	0.668553539483772	0.2408376963350785	0.09429150016650015
10/54	0.6913321698662012	0.3172413793103448	0.1556067821067821
11/54	0.6251775496865266	0.27440633245382584	0.25135339660339645
12/54	0.6970741530443023	0.45274725274725275	0.31993478743478737
13/54	0.6518918880578223	0.2874251497005988	0.0402920967920968
14/54	0.6841866070856557	0.3063063063063063	0.3184285714285714
15/54	0.6807785927825789	0.1986754966887417	0.128
16/54	0.6379547393246023	0.23809523809523808	0.3106904761904761
17/54	0.6924089115804131	0.23923444976076555	0.3195881504116798
18/54	0.6819455669300765	0.2843822843822844	0.14999458874458868
19/54	0.6543892396159043	0.26463104325699743	0.2510342574092573
20/54	0.644866975130133	0.23132530120481928	0.04
21/54	0.6661671498787524	0.23427331887201733	0.14865079365079364
22/54	0.6799595928856428	0.3137254901960785	0.23333333333333336
23/54	0.6585883838383838	0.29473684210526313	0.11959920634920636
24/54	0.7069018989421119	0.3412698412698413	0.20933333333333334
25/54	0.6610811184939093	0.2915129151291513	0.106
26/54	0.6941181396584484	0.31762652705061084	0.28882233044733047
27/54	0.6527218582489578	0.294017094017094	0.24775396825396823
28/54	0.6953632691294421	0.2823529411764706	0.21
29/54	0.6573548455901397	0.25599999999999995	0.18677197802197798
30/54	0.6572538506377906	0.2883211678832116	0.16683333333333333
31/54	0.6463736054615953	0.29591836734693877	0.12089116439116435
32/54	0.6667425599879785	0.29213483146067415	0.07333333333333335
33/54	0.6842632533054801	0.28014184397163117	0.11294136419136412
34/54	0.6691161914878206	0.2926829268292683	0.23192857142857132
35/54	0.6611090068934171	0.26717557251908397	0.17186443381180225
36/54	0.7227339950732097	0.37867647058823534	0.38
37/54	0.7051854185261022	0.3509933774834438	0.16146825396825396
38/54	0.666383904891007	0.3401759530791789	0.19
39/54	0.6596902800516272	0.32249322493224936	0.175
40/54	0.6901828901515716	0.26645768025078376	0.03733333333333333
41/54	0.6620191422786673	0.28448275862068967	0.03622655122655122
42/54	0.7023705512013362	0.33850129198966405	0.08016666666666668
43/54	0.6665985762921696	0.34108527131782945	0.16155468551056784
44/54	0.6874109834495482	0.363855421686747	0.11469785769785767
45/54	0.6709683354115987	0.29658792650918636	0.16722222222222222
46/54	0.6693375258568837	0.34560906515580736	0.25916666666666666
47/54	0.6598687451468267	0.26755852842809363	0.12021753796598995
48/54	0.6987834983028318	0.37392795883361923	0.1165
49/54	0.7184236040457238	0.4136904761904762	0.14
50/54	0.6813942137025204	0.3148148148148148	0.16166666666666665
51/54	0.6807733987338163	0.2949852507374631	0.12533531746031745
52/54	0.6797933409873709	0.29411764705882354	0.26
53/54	0.7104207436399217	0.3554119547657512	0.321803391053391
54/54	0.7107840117345068	0.34516129032258064	0.2341666666666667

In [13]:
m2 = run_training(months=2, check_shift=1)

1/53	0.6227613626095599	0	0.55
2/53	0.5755814963433912	0.20408163265306123	0.33
3/53	0.6207077289211242	0.277511961722488	0.19789285714285715
4/53	0.7061040525313751	0.3909774436090226	0.30085714285714277
5/53	0.6534667388351164	0.28923076923076924	0.2051437728937729
6/53	0.6777191294735154	0.35324675324675325	0.15714321789321783
7/53	0.6759552150041803	0.31266846361185985	0.23523412698412688
8/53	0.673898382319435	0.3043478260869565	0.22910064935064928
9/53	0.6794096992315255	0.332541567695962	0.14
10/53	0.6418070649569702	0.26666666666666666	0.09104166666666666
11/53	0.6914649585531273	0.41201716738197425	0.20455971805971804
12/53	0.6329373477263432	0.30894308943089427	0.3703333333333333
13/53	0.6906340562013611	0.3106796116504854	0.14124242424242425
14/53	0.709373987283069	0.2453222453222453	0.1125
15/53	0.6390870338238759	0.23008849557522124	0.262095238095238
16/53	0.687905715357318	0.26130653266331655	0.28529040404040396
17/53	0.700440225089002	0.2890442890442891	0.18280097680097682
18/53	0.6450292619737803	0.22167487684729062	0.14666666666666667
19/53	0.6458815571128091	0.2663755458515284	0.13935964035964035
20/53	0.6506301970040573	0.27004219409282704	0.13858333333333334
21/53	0.6915711502605537	0.31901840490797545	0.13544444444444445
22/53	0.6538503444023981	0.2661290322580645	0.105
23/53	0.6902948650830008	0.33201581027667987	0.33
24/53	0.6659969619672694	0.3073852295409181	0.3842424242424242
25/53	0.6883745087362092	0.33655705996131524	0.29125
26/53	0.6487679723214973	0.2892857142857143	0.06
27/53	0.7253202995551034	0.31672597864768687	0.32549999999999996
28/53	0.6812843578210894	0.27397260273972607	0.1870479797979797
29/53	0.6637807966843196	0.3	0.15891017316017314
30/53	0.6536373150311525	0.2706502636203867	0.08
31/53	0.6738270512043982	0.3104575163398693	0.09
32/53	0.6801904997781286	0.3099510603588907	0.3182986009088949
33/53	0.656549918982924	0.3166953528399311	0.2255606223841517
34/53	0.6592879167671767	0.2518248175182482	0.13631934731934733
35/53	0.7008192047024762	0.377431906614786	0.28019319423266803
36/53	0.7015353669563934	0.3661485319516407	0.46
37/53	0.6668412689192778	0.341692789968652	0.14
38/53	0.6761180438448567	0.3432624113475177	0.165
39/53	0.6826410079977661	0.29479768786127164	0.1525
40/53	0.6703961485236267	0.3204577968526466	0.17628968253968252
41/53	0.6944916666666667	0.31710709318497915	0.05707142857142858
42/53	0.6884975046109474	0.34249999999999997	0.09949999999999999
43/53	0.6850966859705372	0.3694581280788178	0.1407255522255522
44/53	0.6887605274822695	0.3088803088803089	0.25
45/53	0.6726433472095681	0.3333333333333333	0.1281666666666667
46/53	0.6648150551589879	0.3054662379421222	0.21249999999999997
47/53	0.6897532538224517	0.3743500866551126	0.155
48/53	0.7311423381946568	0.42649434571890144	0.18733333333333335
49/53	0.6939600814861522	0.3306836248012719	0.09476190476190474
50/53	0.6906133579137381	0.2961783439490446	0.25333333333333335
51/53	0.6729351570119927	0.29534510433386835	0.2512539682539683
52/53	0.7215342318381497	0.348993288590604	0.3416507936507935
53/53	0.7314383839554833	0.36486486486486486	0.32647230547230544

In [14]:
m3 = run_training(months=3, check_shift=1)

1/52	0.6170044360999135	0	0.63
2/52	0.6447285242677531	0.26277372262773724	0.39645238095238095
3/52	0.6538692889970262	0.2679425837320574	0.32333333333333336
4/52	0.6396188340807175	0.29213483146067415	0.24362698412698403
5/52	0.6707163919569789	0.2965116279069767	0.17527777777777778
6/52	0.6705922682236377	0.3227665706051873	0.2549285714285714
7/52	0.648603717060698	0.303951367781155	0.2677380952380951
8/52	0.6933448610349627	0.3118279569892473	0.18906501831501824
9/52	0.6601632023251637	0.27624309392265195	0.20167576704341406
10/52	0.6988710720085773	0.41588785046728977	0.34
11/52	0.619136926438456	0.29067245119305857	0.16089754689754684
12/52	0.6876319079160985	0.3652561247216035	0.51
13/52	0.6990713904797237	0.2702702702702703	0.2826190476190476
14/52	0.659603301031019	0.2458100558659218	0.255
15/52	0.66319573283859	0.2662721893491124	0.2502896825396825
16/52	0.7066927874620182	0.2958904109589041	0.15773484848484848
17/52	0.6553957735770813	0.2525773195876289	0.4829999999999998
18/52	0.6415793441387108	0.23809523809523808	0.15
19/52	0.6616019376931429	0.2326732673267327	0.1269763431013431
20/52	0.688871177417358	0.29370629370629364	0.06616666666666667
21/52	0.669044084056647	0.26252983293556087	0.12198612498612499
22/52	0.6787759891355611	0.3208791208791209	0.16227777777777777
23/52	0.6426485594237694	0.2933884297520661	0.287
24/52	0.6990683305358923	0.34934497816593885	0.34
25/52	0.676757389329116	0.32926829268292684	0.17
26/52	0.7152246544532056	0.2919132149901381	0.1675
27/52	0.6875877083072297	0.28187919463087246	0.20851984126984124
28/52	0.6579013194062671	0.2845010615711253	0.18892135642135638
29/52	0.6611088156856852	0.25440313111545987	0.12724021300337088
30/52	0.6632846969397643	0.2826855123674912	0.07666666666666666
31/52	0.672827457253639	0.2783882783882784	0.058499999999999996
32/52	0.6503736955544185	0.30905861456483125	0.24133320356114463
33/52	0.658377900251752	0.22950819672131145	0.1270479797979798
34/52	0.6988154687187323	0.36598890942698703	0.2590725108225108
35/52	0.6989330631221315	0.339622641509434	0.16076923076923078
36/52	0.6850799860950074	0.38205980066445183	0.25595238095238093
37/52	0.6745792805311102	0.3471337579617835	0.29
38/52	0.7207513416815743	0.34472049689441	0.18
39/52	0.6766621782487364	0.3333333333333333	0.08133333333333333
40/52	0.6767244368085303	0.33043478260869563	0.05
41/52	0.6805765981797374	0.3351351351351351	0.11174242424242424
42/52	0.699749692763681	0.3572327044025158	0.0675
43/52	0.6919399570505143	0.3146666666666667	0.18866666666666668
44/52	0.6623985921373845	0.31195335276967934	0.15
45/52	0.6484256387535076	0.27177700348432055	0.12888568376068377
46/52	0.6877032724352541	0.36395147313691506	0.1836056998556998
47/52	0.7284165181224004	0.4327666151468315	0.22
48/52	0.6880520773784278	0.3099099099099099	0.42
49/52	0.6728427312718501	0.2998236331569665	0.19
50/52	0.6981347807373479	0.31413612565445026	0.3310238095238095
51/52	0.7122884008764959	0.34246575342465757	0.10447402597402597
52/52	0.7129618271561668	0.38608695652173913	0.20493272005771998

In [15]:
m4 = run_training(months=4, check_shift=1)

1/51	0.6265580057526366	0	0.23
2/51	0.6925967549343262	0.35344827586206895	0.18666666666666668
3/51	0.6052494503636057	0.2506527415143603	0.1703333333333333
4/51	0.6730915868846904	0.38287153652392947	0.18
5/51	0.6533406068162926	0.30708661417322836	0.35142857142857137
6/51	0.6505389514943656	0.28635346756152125	0.5007380952380951
7/51	0.7029606820363759	0.3682864450127877	0.2602142857142857
8/51	0.6553025895615974	0.2796833773087072	0.19410714285714284
9/51	0.712557721733428	0.4189189189189189	0.17671428571428574
10/51	0.6402288974558994	0.28048780487804875	0.058416666666666665
11/51	0.6582551509224419	0.31349206349206343	0.22
12/51	0.7075232069459196	0.30939226519337015	0.26933333333333337
13/51	0.6468405056998565	0.26704545454545453	0.22
14/51	0.7091525694222789	0.2653061224489796	0.10677489177489177
15/51	0.711107667407063	0.330316742081448	0.18266666666666664
16/51	0.6765615917728593	0.2756892230576441	0.22833333333333333
17/51	0.651264752239265	0.24154589371980675	0.11622222222222221
18/51	0.6807304476143631	0.3056768558951965	0.17009523809523805
19/51	0.7052457404980341	0.33976833976833976	0.1982509157509157
20/51	0.6585929719732536	0.28112449799196787	0.1422769175269175
21/51	0.7017353154612603	0.3305439330543933	0.3
22/51	0.6305103287497039	0.26305609284332687	0.15982142857142856
23/51	0.6989503465202194	0.33582089552238803	0.21927777777777774
24/51	0.6465057647092151	0.30612244897959184	0.213
25/51	0.7197609971623523	0.3070539419087137	0.13
26/51	0.6727984325900125	0.2857142857142857	0.16
27/51	0.6583161028864444	0.28471001757469244	0.09
28/51	0.6491575102700979	0.30874785591766724	0.11
29/51	0.662426630731344	0.3013698630136986	0.1278095238095238
30/51	0.682177149177411	0.30220713073005095	0.15316397491397488
31/51	0.653551377464421	0.2801302931596091	0.23916666666666667
32/51	0.6701377509776933	0.2814070351758794	0.18147619047619046
33/51	0.7139711788109158	0.37638376383763844	0.17665151515151514
34/51	0.6997950008153376	0.3772357723577236	0.23
35/51	0.6665148872129016	0.34948604992657856	0.16
36/51	0.6876612204916785	0.37947122861586313	0.39073611111111106
37/51	0.7041555264087171	0.3322784810126582	0.18
38/51	0.6777722724802608	0.3503448275862069	0.21566666666666667
39/51	0.6878374185541422	0.335	0.07
40/51	0.6913354037267082	0.36045056320400504	0.09976190476190476
41/51	0.6775978017866839	0.3379224030037547	0.12333333333333332
42/51	0.6716859716859717	0.2697795071335927	0.05333333333333334
43/51	0.6844036483662024	0.3420289855072464	0.09016666666666666
44/51	0.6418343392187373	0.29012345679012347	0.12416666666666668
45/51	0.6854791776109104	0.3737373737373737	0.17
46/51	0.7273113624224496	0.4035608308605341	0.20990559440559442
47/51	0.6798926812380999	0.31825273010920435	0.25
48/51	0.7004258464597833	0.30490018148820325	0.30763492063492054
49/51	0.6917859435279481	0.30970149253731344	0.22333333333333336
50/51	0.7187947142496423	0.37500000000000006	0.165
51/51	0.7191468858374731	0.37288135593220345	0.09533333333333333

In [16]:
m5 = run_training(months=5, check_shift=1)

1/50	0.663611111111111	0	0.33
2/50	0.598139255702281	0.28444444444444444	0.1375
3/50	0.6428775927548934	0.3464566929133858	0.2576071428571428
4/50	0.6491375999231821	0.3804034582132565	0.24882142857142844
5/50	0.635203846799478	0.26	0.30066666666666664
6/50	0.7035361130097972	0.38694638694638694	0.2748095238095237
7/50	0.6536219947974329	0.32041343669250644	0.23060714285714287
8/50	0.7042606739333186	0.431924882629108	0.19844498556998555
9/50	0.6397975708502024	0.3057324840764331	0.1064047619047619
10/50	0.6888824189095928	0.30654205607476637	0.2621111111111111
11/50	0.7019264691423712	0.22760290556900725	0.16883333333333334
12/50	0.6398055704458143	0.2554517133956386	0.3508333333333333
13/50	0.7121439845715425	0.32415902140672787	0.27416666666666667
14/50	0.7407922477925019	0.35937499999999994	0.1253751526251526
15/50	0.6640708705900688	0.24936386768447835	0.11
16/50	0.6537110072386145	0.260204081632653	0.204
17/50	0.6796770336651351	0.2705314009661836	0.1729262265512266
18/50	0.6957044512324378	0.32751091703056767	0.1869071541203894
19/50	0.6551597771914396	0.28752642706131076	0.11627461427461426
20/50	0.6831599632282624	0.3272727272727273	0.28
21/50	0.6435073131376223	0.2992125984251969	0.24
22/50	0.6826304326304327	0.2793296089385475	0.10958333333333334
23/50	0.6633237654157935	0.2653846153846154	0.14573809523809525
24/50	0.7174775937276464	0.3311546840958605	0.25525000000000003
25/50	0.6847175660865938	0.29613733905579404	0.13044444444444445
26/50	0.6540632927483045	0.2846580406654344	0.09
27/50	0.6661551077193356	0.3104	0.15
28/50	0.6551842386439112	0.2980769230769231	0.1787546897546898
29/50	0.6795732758141448	0.3182640144665461	0.16225108225108226
30/50	0.6516266266266267	0.274914089347079	0.23
31/50	0.6699905796610934	0.28371278458844135	0.1592222222222222
32/50	0.7106971819122565	0.3650190114068441	0.21790875790875794
33/50	0.7220151442244391	0.3517587939698492	0.1225
34/50	0.6936790708782606	0.3816793893129771	0.19765151515151508
35/50	0.6532235623095353	0.30680173661360344	0.25333333333333335
36/50	0.7169381794327128	0.3606010016694491	0.26870027195027196
37/50	0.6839831667709532	0.3663220088626292	0.3133333333333333
38/50	0.7184489987696155	0.3738317757009346	0.27078571428571413
39/50	0.6867576106389753	0.3702770780856423	0.19847258297258294
40/50	0.6838995046001415	0.3569620253164557	0.138508658008658
41/50	0.6637856280693193	0.2773109243697479	0.02878571428571429
42/50	0.6866543279586758	0.3612334801762115	0.22266738816738807
43/50	0.6396800043315827	0.2815533980582524	0.06719264069264069
44/50	0.6704139262224764	0.38351822503961963	0.24427777777777784
45/50	0.7124472197130434	0.401244167962675	0.14527958152958148
46/50	0.6792998580145055	0.33281972265023113	0.22029365079365074
47/50	0.669458726434716	0.2799325463743676	0.4686666666666667
48/50	0.7029770371875634	0.3401639344262295	0.24
49/50	0.7278073415746228	0.35249042145593873	0.125
50/50	0.7205789804908747	0.4027538726333907	0.15487912087912087

In [17]:
m6 = run_training(months=6, check_shift=1)

1/49	0.570359391011565	0	0.24
2/49	0.6402901554404143	0.4075471698113208	0.2525
3/49	0.6342461441611584	0.2995391705069124	0.31192857142857133
4/49	0.6559348068401164	0.31125827814569534	0.18
5/49	0.6848079975244806	0.3469879518072289	0.313952380952381
6/49	0.6299177558770764	0.2777777777777778	0.27783333333333327
7/49	0.7007292128193767	0.43269230769230776	0.44
8/49	0.6362964227994468	0.3053763440860215	0.28
9/49	0.6788152132084807	0.3057851239669422	0.2951984126984126
10/49	0.7001799437007827	0.2204724409448819	0.17011904761904761
11/49	0.6358224554945866	0.2411764705882353	0.29995598845598836
12/49	0.7158158104870909	0.3472222222222222	0.32
13/49	0.7149080853185847	0.34957020057306587	0.136
14/49	0.6753734509210875	0.29629629629629634	0.13933333333333334
15/49	0.6470457034838527	0.21081081081081082	0.0325
16/49	0.674995327277485	0.2849872773536896	0.053690476190476184
17/49	0.6976081434040573	0.33183856502242154	0.18575901875901868
18/49	0.647419498029595	0.26107226107226106	0.15396825396825398
19/49	0.7050750768699486	0.32568807339449535	0.5
20/49	0.6374388049498879	0.3048780487804878	0.40985714285714286
21/49	0.6825953559245251	0.3109404990403071	0.19983333333333334
22/49	0.6611465006961136	0.26337448559670784	0.11416666666666668
23/49	0.7188372134896199	0.30588235294117644	0.22957539682539682
24/49	0.701213437932142	0.31250000000000006	0.2733333333333333
25/49	0.6627275644273314	0.2991071428571429	0.10333333333333333
26/49	0.6713657856295776	0.3201438848920863	0.13
27/49	0.6680099351175993	0.3289036544850498	0.16
28/49	0.680122997066125	0.30402930402930406	0.1827431457431457
29/49	0.6725353827176525	0.2927756653992395	0.1225
30/49	0.6647760392259953	0.2846299810246679	0.1753333333333333
31/49	0.7105458573458594	0.3474903474903475	0.165
32/49	0.6976899391582823	0.36933797909407673	0.3
33/49	0.6859849685335265	0.33789954337899547	0.28724999999999995
34/49	0.6593691775352675	0.3263473053892215	0.22563095238095232
35/49	0.6649152866039317	0.26056338028169007	0.09284126984126985
36/49	0.6896243801610819	0.37355371900826445	0.18539682539682534
37/49	0.709952709359606	0.37741456166419013	0.11
38/49	0.6892971524729749	0.3597883597883598	0.05266666666666667
39/49	0.6843499131779833	0.385	0.18
40/49	0.6815263316991792	0.3143254520166899	0.10333333333333333
41/49	0.6564477759913552	0.2883435582822086	0.09
42/49	0.6596348587229212	0.275974025974026	0.13986688311688308
43/49	0.6814495068972933	0.3502626970227671	0.135
44/49	0.7033280407805124	0.3857566765578635	0.13
45/49	0.6725643182411464	0.32565789473684215	0.2
46/49	0.6751706475830519	0.29260450160771706	0.22254761904761897
47/49	0.6844743022934512	0.30490018148820325	0.15361904761904763
48/49	0.7386100066269052	0.3968253968253968	0.21285714285714286
49/49	0.7244051985234963	0.3887850467289719	0.17

In [18]:
m7 = run_training(months=7, check_shift=1)

1/48	0.6057870504430416	0	0.2
2/48	0.6870022775465326	0.37908496732026137	0.355
3/48	0.6102054978827063	0.26785714285714285	0.2650238095238095
4/48	0.689817880794702	0.38461538461538464	0.48797799422799415
5/48	0.6234945725378337	0.25146198830409355	0.19442857142857142
6/48	0.6834614842658074	0.41813602015113344	0.45
7/48	0.6529053186162455	0.30357142857142855	0.16221428571428576
8/48	0.6976711479786423	0.3311258278145695	0.29166666666666663
9/48	0.6875808936825887	0.21714285714285714	0.21478787878787878
10/48	0.6451982368661568	0.2506527415143603	0.28725
11/48	0.7025897535836474	0.2787878787878788	0.31825072150072153
12/48	0.7200913508086205	0.3559870550161812	0.22279761904761905
13/48	0.6541548797736916	0.2558139534883721	0.23289285714285712
14/48	0.6729019762953667	0.23918575063613232	0.059666666666666666
15/48	0.6653918943488537	0.2762148337595908	0.10728571428571428
16/48	0.7097388445626477	0.32835820895522383	0.20688492063492056
17/48	0.6575749614684041	0.22842639593908629	0.095
18/48	0.689410316668875	0.3356643356643356	0.21265079365079362
19/48	0.6398323092142847	0.30905077262693154	0.2
20/48	0.6862284847444445	0.30487804878048785	0.16
21/48	0.6759394919008503	0.2605210420841683	0.1
22/48	0.7116727536166939	0.27601809954751133	0.12901984126984126
23/48	0.6840803239729021	0.24090909090909088	0.15033982683982677
24/48	0.6737820735090152	0.3087248322147651	0.10400000000000001
25/48	0.6649363217589905	0.3270676691729324	0.13559523809523807
26/48	0.7029154999975737	0.33605220228384985	0.07166666666666667
27/48	0.6875560585697107	0.32310177705977383	0.22948809523809519
28/48	0.6626035600032812	0.287603305785124	0.19787698412698407
29/48	0.6497039186543044	0.24000000000000002	0.125
30/48	0.6930283235239978	0.36223506743737954	0.152
31/48	0.6903571000059991	0.34974533106960953	0.2
32/48	0.6732620320855615	0.3609022556390978	0.16
33/48	0.6733307843043541	0.31850789096126253	0.0960952380952381
34/48	0.6858004083434499	0.2839506172839506	0.08966666666666664
35/48	0.6510904875266578	0.29923664122137406	0.097980831260243
36/48	0.7278074877118096	0.39221556886227543	0.14357142857142857
37/48	0.6819701866380411	0.36387434554973813	0.1007857142857143
38/48	0.7119913139387961	0.4038231780167264	0.2771666666666667
39/48	0.6839502824858756	0.3223443223443223	0.08425396825396823
40/48	0.6761279870615676	0.3384188626907073	0.05583333333333333
41/48	0.6602589130080576	0.2786377708978328	0.0923809523809524
42/48	0.6804027877314888	0.3693843594009983	0.11025732699533007
43/48	0.7371473354231974	0.41764705882352937	0.11
44/48	0.6623675341816272	0.30161054172767204	0.1621161616161616
45/48	0.684000974065506	0.30153846153846153	0.18
46/48	0.6974892051815128	0.29438543247344456	0.3406666666666666
47/48	0.7048375106202209	0.33607907742998355	0.13856349206349206
48/48	0.720237087981821	0.4285714285714286	0.19625

In [19]:
m8 = run_training(months=8, check_shift=1)

1/47	0.6726978596316574	0	0.27
2/47	0.6700325732899023	0.3107569721115538	0.39195238095238105
3/47	0.6387537107208576	0.2710622710622711	0.2595952380952381
4/47	0.6269802220764389	0.2819672131147541	0.18842857142857145
5/47	0.6800628657607004	0.43410852713178294	0.285
6/47	0.631802444360073	0.2894736842105263	0.22
7/47	0.6989761581932088	0.32000000000000006	0.3141666666666667
8/47	0.7113351743625972	0.2554347826086957	0.22121139971139972
9/47	0.6266766485744588	0.24068767908309452	0.37691774891774893
10/47	0.7034346539726616	0.25066666666666665	0.16802175602175598
11/47	0.6939006700283208	0.31884057971014496	0.2872301587301586
12/47	0.6467800619881114	0.2875	0.24150074925074924
13/47	0.6545538759526717	0.25133689839572193	0.4326190476190477
14/47	0.6820715660001375	0.30170316301703165	0.18
15/47	0.6954465919032847	0.3018867924528302	0.19966666666666666
16/47	0.6433542101600557	0.2198391420911528	0.0425
17/47	0.6801951499193069	0.3144963144963145	0.10921428571428571
18/47	0.6542205564823039	0.29157175398633256	0.20800000000000002
19/47	0.7003193701723115	0.32064128256513025	0.24324999999999997
20/47	0.6598564320144281	0.26429980276134124	0.4421666666666667
21/47	0.7119527135017675	0.2923433874709977	0.3518095238095239
22/47	0.6794438725174795	0.2672811059907834	0.2787467532467531
23/47	0.6466641358448727	0.24774774774774772	0.14192640692640685
24/47	0.677662372517445	0.34285714285714286	0.2899603174603173
25/47	0.6807040730505827	0.2952029520295203	0.12571428571428572
26/47	0.6912741785528016	0.3166953528399312	0.2
27/47	0.6674738702820577	0.26545454545454544	0.107
28/47	0.6624499290474395	0.27272727272727276	0.2140209235209235
29/47	0.7085260004608649	0.3693516699410609	0.2025
30/47	0.6896572223627625	0.3617391304347826	0.19
31/47	0.6412522468544039	0.33278955954323003	0.21
32/47	0.6750945916954342	0.3064250411861615	0.18
33/47	0.7018079354716544	0.29489603024574673	0.5033333333333334
34/47	0.6677744683411556	0.3047001620745543	0.1583308913308913
35/47	0.678005150025587	0.28843106180665606	0.13903571428571426
36/47	0.7022789422088513	0.4006024096385542	0.3366666666666667
37/47	0.6834556806357015	0.3961218836565097	0.23057279562542707
38/47	0.6950975609756097	0.33655172413793105	0.21
39/47	0.6774769021739131	0.3404255319148936	0.2145
40/47	0.6388028450411571	0.2659176029962547	0.16516666666666666
41/47	0.6797347697792275	0.3780918727915194	0.16737301587301587
42/47	0.7344217012347456	0.43809523809523804	0.25
43/47	0.6721420283426705	0.31699346405228757	0.2946666666666666
44/47	0.679740857016964	0.29059829059829057	0.20499999999999996
45/47	0.6847839710978397	0.2874493927125506	0.22155555555555548
46/47	0.6932403748921749	0.3214953271028037	0.13796428571428568
47/47	0.7280737636108882	0.36259541984732824	0.15181818181818182

In [20]:
m9 = run_training(months=9, check_shift=1)

1/46	0.6313439270756344	0	0.2
2/46	0.6750456871345029	0.3539094650205762	0.3
3/46	0.5805650252525252	0.24022346368715083	0.27
4/46	0.6999698173952412	0.4558404558404559	0.33
5/46	0.6447399817872812	0.29047619047619044	0.34
6/46	0.6570804372502371	0.304147465437788	0.2667738095238095
7/46	0.6925556418748551	0.23566878980891717	0.18160622710622715
8/46	0.6269487750556794	0.2682926829268293	0.3221984126984126
9/46	0.7159342577212874	0.2922636103151863	0.16155647130647124
10/46	0.6966007126781696	0.29516539440203565	0.32888095238095233
11/46	0.6581321022727273	0.2185430463576159	0.125
12/46	0.6619320257140769	0.30487804878048785	0.18732178932178928
13/46	0.685465477918308	0.3096446700507614	0.37449999999999994
14/46	0.7144388791009371	0.32888888888888895	0.0837383984264789
15/46	0.6328243060526526	0.2367758186397985	0.03666666666666667
16/46	0.6800394144144145	0.3225806451612903	0.37
17/46	0.6413727913102674	0.3129251700680272	0.268
18/46	0.7079557056467447	0.30303030303030304	0.135
19/46	0.6622794260228815	0.25506072874493924	0.12
20/46	0.7206348754564158	0.30357142857142855	0.22126190476190474
21/46	0.6782833313058817	0.2612826603325416	0.31728893328893326
22/46	0.6366523674676088	0.25363825363825365	0.08854004329004331
23/46	0.6208496905981769	0.2632612966601178	0.12943987385163852
24/46	0.6971318962367556	0.3346303501945525	0.28
25/46	0.6899271279567889	0.3130755064456722	0.38785714285714284
26/46	0.6660675514002127	0.29749103942652333	0.14887698412698414
27/46	0.6689892384006534	0.28180039138943247	0.22863888888888884
28/46	0.6993124400383753	0.3818897637795275	0.24
29/46	0.6819071660398742	0.3630017452006981	0.21266666666666667
30/46	0.6611632021761895	0.3382113821138211	0.22
31/46	0.6494822956347968	0.29508196721311475	0.07933333333333333
32/46	0.6916806844547564	0.298932384341637	0.29861904761904756
33/46	0.6527501879093739	0.28150572831423903	0.156772644022644
34/46	0.6886272678619785	0.32083958020989506	0.14827186702186707
35/46	0.646281305713138	0.29473684210526313	0.12792889300242233
36/46	0.717976198842739	0.42415730337078655	0.29583333333333334
37/46	0.688071604600219	0.3186344238975818	0.13616666666666666
38/46	0.6849265780656187	0.3538230884557721	0.28
39/46	0.6559349191873131	0.2914572864321608	0.15
40/46	0.691588487791926	0.38640429338103754	0.19
41/46	0.7197647408367771	0.38535031847133755	0.147
42/46	0.6905892944835489	0.3397435897435897	0.2923055555555556
43/46	0.6689318585805103	0.292604501607717	0.23755158730158715
44/46	0.6988380178597571	0.3197026022304833	0.20996031746031746
45/46	0.6977688892391761	0.33207547169811324	0.1625595238095238
46/46	0.698352016140437	0.3608247422680412	0.27220238095238086

In [21]:
m10 = run_training(months=10, check_shift=1)

1/45	0.6195167722261319	0	0.24
2/45	0.5851318551561269	0.28936170212765955	0.3974999999999999
3/45	0.6382009868742635	0.33540372670807456	0.37
4/45	0.6311331212647002	0.30517711171662126	0.10333333333333332
5/45	0.6477873294086165	0.2923433874709977	0.30747402597402584
6/45	0.708486013986014	0.27932960893854747	0.2968015873015873
7/45	0.6218699909753371	0.25082508250825086	0.29354761904761906
8/45	0.7108920431382724	0.27388535031847133	0.19087301587301578
9/45	0.7151552378825107	0.30635838150289013	0.17095743145743147
10/45	0.677640872704442	0.2564102564102564	0.12896177738669995
11/45	0.6401428538299204	0.1971014492753623	0.13429911754911755
12/45	0.6714469985258322	0.30812324929971985	0.13142857142857142
13/45	0.7224215842636896	0.35835351089588374	0.16241666666666668
14/45	0.6573504393498943	0.2823529411764706	0.11161616161616163
15/45	0.6614876983584407	0.2997658079625293	0.415
16/45	0.6423534972376975	0.3194444444444444	0.23708333333333337
17/45	0.6943766937669378	0.316017316017316	0.27083333333333337
18/45	0.651164692795917	0.28870292887029286	0.13
19/45	0.7193150987239235	0.29698375870069604	0.192047619047619
20/45	0.6912360758525169	0.2543859649122807	0.16068722943722938
21/45	0.6447025484703328	0.2563025210084034	0.07156043956043956
22/45	0.653772739890282	0.29104477611940294	0.156
23/45	0.6649928341874404	0.27848101265822783	0.08088247863247862
24/45	0.725036966230042	0.3510848126232742	0.24
25/45	0.6849792636838454	0.3321033210332104	0.33433333333333337
26/45	0.6647239828842514	0.3091247672253259	0.17333333333333337
27/45	0.7009389768461546	0.35361216730038025	0.35
28/45	0.7049480757483202	0.3765541740674956	0.39222222222222236
29/45	0.6584919256129822	0.3386581469648562	0.2836666666666667
30/45	0.6587941725059232	0.3096366508688783	0.145
31/45	0.7142606940362751	0.3121597096188748	0.25117171717171716
32/45	0.6587985800039898	0.3137254901960784	0.12978041403041404
33/45	0.6906580506526122	0.343796711509716	0.14637400099900094
34/45	0.678911614630232	0.3426183844011142	0.1760070762570762
35/45	0.684912363343736	0.3303303303303303	0.11378718503718505
36/45	0.7046770616981569	0.36444444444444446	0.222
37/45	0.6907561921030155	0.353125	0.13
38/45	0.664937672009066	0.3076923076923077	0.08199999999999999
39/45	0.6771117685840539	0.3630017452006981	0.315
40/45	0.7201873959303474	0.40514469453376206	0.14666666666666667
41/45	0.6797355670526402	0.30963665086887837	0.18
42/45	0.678360125027908	0.3106796116504854	0.19628571428571426
43/45	0.7021645739992993	0.3159851301115242	0.2325
44/45	0.6944428280477161	0.32442067736185376	0.12333333333333334
45/45	0.7110075759997443	0.3309608540925267	0.08

In [22]:
m11 = run_training(months=11, check_shift=1)

1/44	0.6163723776223776	0	0.52
2/44	0.6969882957465029	0.4594594594594595	0.33
3/44	0.5990588013094938	0.23648648648648646	0.225
4/44	0.6808363970588236	0.3097643097643098	0.24666666666666667
5/44	0.6974566714150047	0.26143790849673204	0.21
6/44	0.6257739938080494	0.2460567823343848	0.40078571428571425
7/44	0.7147883693354642	0.2625482625482625	0.16865476190476192
8/44	0.7043702747556704	0.31715210355987056	0.205
9/44	0.6712014183218372	0.24437299035369778	0.15566666666666668
10/44	0.6463604062360463	0.24927536231884054	0.17666666666666664
11/44	0.6751733795678848	0.26190476190476186	0.14125
12/44	0.7384446900843364	0.39577836411609496	0.245
13/44	0.6667536262130855	0.29156010230179025	0.12955158730158728
14/44	0.6882852178561881	0.3359173126614987	0.17666666666666667
15/44	0.6480680868838762	0.304147465437788	0.4428030303030303
16/44	0.6860221958769678	0.30769230769230765	0.21
17/44	0.6622344566789011	0.30368763557483736	0.255
18/44	0.7150205714545496	0.2925531914893617	0.1948935786435786
19/44	0.7016582419965635	0.3145539906103286	0.19399999999999998
20/44	0.6466421852205846	0.24498886414253898	0.11216666666666666
21/44	0.670420657837571	0.29296875	0.11983333333333332
22/44	0.6598354112338276	0.2720588235294118	0.06650793650793652
23/44	0.6734989648033126	0.3147410358565737	0.27586080586080575
24/44	0.680609551585855	0.3667377398720682	0.38
25/44	0.6699526716042031	0.28810020876826725	0.21
26/44	0.6881679785935104	0.37903225806451607	0.3
27/44	0.6870875754147814	0.36624775583482944	0.16
28/44	0.6584086243070022	0.32945091514143093	0.08583333333333334
29/44	0.6675274980714312	0.32012678288431057	0.1575
30/44	0.7005273257483038	0.30939226519337015	0.21652777777777776
31/44	0.6651271799820776	0.28617363344051444	0.055
32/44	0.6970925316004984	0.35103244837758113	0.15059870684870677
33/44	0.6833874659217126	0.3573407202216067	0.22782422153010384
34/44	0.6933973213835145	0.35470668485675305	0.07633333333333335
35/44	0.6660444665671146	0.2745709828393135	0.15709762786233378
36/44	0.6980128950723601	0.38142620232172475	0.3028968253968254
37/44	0.6684894053315106	0.33333333333333337	0.22269283494283493
38/44	0.6841831079583242	0.3795620437956205	0.16
39/44	0.7086696875611871	0.4276527331189711	0.19
40/44	0.679974836126272	0.326984126984127	0.25
41/44	0.6479892685979909	0.2625607779578606	0.24955952380952381
42/44	0.6865478880001786	0.2952029520295203	0.37883116883116885
43/44	0.6964123524069028	0.34879406307977734	0.1806819014319014
44/44	0.7027534296936979	0.33568904593639576	0.23599816849816835

In [23]:
m12 = run_training(months=12, check_shift=1)

1/43	0.7092119115656489	0	0.14
2/43	0.6120162195431014	0.303886925795053	0.1225
3/43	0.6002872135173059	0.21348314606741572	0.07083333333333333
4/43	0.7022458724871594	0.2872628726287263	0.195
5/43	0.6320711143695015	0.23908045977011497	0.37399206349206354
6/43	0.716871810465639	0.3231197771587744	0.19833333333333336
7/43	0.7065318204790705	0.3507853403141361	0.3969021256521257
8/43	0.6559477756286267	0.25787965616045844	0.20098160173160168
9/43	0.6313197653023674	0.25388601036269426	0.23104761904761906
10/43	0.6688471903565316	0.27722772277227725	0.1808816738816739
11/43	0.7334491994324238	0.34192037470725994	0.17074012099012098
12/43	0.6898786777586756	0.3291770573566085	0.1980079365079365
13/43	0.6763389068069937	0.32911392405063294	0.26190384615384615
14/43	0.6522445507708664	0.2974828375286041	0.06105011655011655
15/43	0.6873571428571428	0.2933884297520661	0.0975
16/43	0.6707367234392614	0.2862453531598513	0.07666666666666667
17/43	0.727856645692317	0.304950495049505	0.23916666666666664
18/43	0.6835236754276179	0.2803738317757009	0.311
19/43	0.6408505452862391	0.23275862068965517	0.07745625818110338
20/43	0.6622865202691575	0.29710144927536236	0.24625
21/43	0.6662122848581981	0.3221476510067114	0.2004767675135322
22/43	0.6703348274144733	0.30363036303630364	0.22646389068447892
23/43	0.6596091011879502	0.2825278810408922	0.23154761904761906
24/43	0.7117248107908422	0.3132530120481927	0.17100524475524473
25/43	0.7045398853830446	0.3716475095785441	0.17666666666666664
26/43	0.7109872528071057	0.37113402061855666	0.22
27/43	0.6670152785119183	0.359375	0.21
28/43	0.6557896726158116	0.31722054380664655	0.18231776410723774
29/43	0.6971450440107156	0.29716193656093487	0.105
30/43	0.6601349706056283	0.3202416918429003	0.1750252525252525
31/43	0.7053104134888522	0.34943181818181823	0.07016666666666667
32/43	0.6955453158984757	0.3726541554959785	0.1277239288489288
33/43	0.6654404722427617	0.33705080545229243	0.05166666666666666
34/43	0.6748216355851407	0.2941970310391363	0.03166666666666666
35/43	0.6828181457811088	0.3529411764705882	0.22875524475524472
36/43	0.6924997049838069	0.3464052287581699	0.19162883848177956
37/43	0.6828164041281911	0.3853820598006645	0.18666666666666665
38/43	0.7209322308179216	0.41731066460587324	0.29583333333333334
39/43	0.6708413060293938	0.32389937106918243	0.21285714285714286
40/43	0.6531863465381451	0.27929373996789725	0.26935714285714285
41/43	0.6724001433991575	0.2814070351758794	0.29125
42/43	0.7144790279353492	0.3663865546218487	0.17902836052836055
43/43	0.6999122497977505	0.3444639718804921	0.145

In [27]:
result_models = [m1, m2, m3, m4, m5, m6, m7, m8, m9, m10, m11, m12]

---

In [44]:
results = []

for month in range(1, 13):
    submission_extra['date'] = submission_extra['orig_date'] + pd.DateOffset(months=month)
    new_df = target_date_features(submission_extra)
    X = new_df.drop(columns=['hash_tab_num', 'date', 'orig_date', 'target']).fillna(-100)
    
    model = result_models[month - 1][0]
    th = np.mean(result_models[month - 1][2])
    submission_extra['target'] = (model.predict_proba(X)[:, 1] >= th).astype(int)
    results.append(submission_extra[['hash_tab_num', 'date', 'target']].copy())
    
result_df = pd.concat(results, ignore_index=True)
result_df.head()

   hash_tab_num       date  target
0             0 2019-09-01       1
1             1 2019-09-01       0
2             2 2019-09-01       0
3             3 2019-09-01       0
4             4 2019-09-01       1

In [45]:
check_df = pd.read_csv('submission_check.csv', sep=';').drop(columns=['target'])
check_df['date'] = pd.to_datetime(check_df['date'], format='%Y-%m-%d')
check_df.head()

   hash_tab_num       date
0             0 2019-09-01
1             0 2019-10-01
2             0 2019-11-01
3             0 2019-12-01
4             0 2020-01-01

In [46]:
result_df_new = pd.merge(result_df, check_df, on=['hash_tab_num', 'date']).sort_values(['hash_tab_num', 'date'])
result_df_new.head()

      hash_tab_num       date  target
0                0 2019-09-01       1
1757             0 2019-10-01       1
3509             0 2019-11-01       1
5265             0 2019-12-01       1
7025             0 2020-01-01       1

In [48]:
result_df_new.to_csv('submission_8.csv', sep=';', index=False)

In [ ]:
X = new_df.drop(columns=['hash_tab_num', 'date', 'orig_date']).fillna(-100)

In [29]:
X_train.columns

NameError: name 'X_train' is not defined

In [35]:
np.mean(m2[2]), np.mean(m2[2][-10:])

(0.2097956778116834, 0.22004723054723058)

In [28]:
target_date_features(submission_extra)

,hash_tab_num,date,gender,work_experience_company,home_to_work_distance,personel_num,category_Рабочие,category_Руководители,category_Служащие,category_Специалисты,education_Высшее,education_Начальное_среднее,education_Среднее_профессинальное,razryad_fact_0,razryad_fact_1,razryad_fact_2,razryad_fact_3,razryad_fact_4,razryad_fact_5,razryad_fact_6,orig_date,target,age,is_pensioner,relatives_0,relatives_1,relatives_2,relatives_3,relatives_4,relatives_5,relatives_6,relatives_7
52,0,2019-08-01,1,13.0,NaN,NaN,1,0,0,0,0,1,0,0,0,0,0,0,1,0,2019-08-01,0,34,0,0,0,1,0,0,0,1,0
105,1,2019-08-01,1,14.0,NaN,121.0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,2019-08-01,0,36,0,1,0,2,0,1,0,3,1
158,2,2019-08-01,0,14.0,NaN,NaN,0,1,0,0,1,0,0,1,0,0,0,0,0,0,2019-08-01,0,52,0,0,0,0,0,1,0,1,0
211,3,2019-08-01,1,12.0,NaN,121.0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,2019-08-01,0,43,0,0,0,1,0,0,0,1,0
264,4,2019-08-01,1,12.0,NaN,121.0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,2019-08-01,0,33,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99209,2648,2019-08-01,1,NaN,4953.5,NaN,0,0,0,0,0,1,0,1,0,0,0,0,0,0,2019-08-01,0,39,0,1,1,0,1,0,0,2,1
99210,2649,2019-08-01,1,NaN,NaN,NaN,0,0,0,0,0,0,1,1,0,0,0,0,0,0,2019-08-01,0,37,0,0,0,1,0,0,0,0,1
99211,2650,2019-08-01,1,NaN,NaN,NaN,0,0,0,0,0,1,0,1,0,0,0,0,0,0,2019-08-01,0,25,0,0,0,0,0,0,0,0,0
99212,2651,2019-08-01,1,NaN,2463.8,170.0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,2019-08-01,0,21,0,0,0,0,0,0,0,0,0
99213,2652,2019-08-01,1,5.0,4671.1,121.0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,2019-08-01,0,33,0,0,0,0,0,0,0,0,0

In [24]:
submission_extra

,hash_tab_num,date,gender,work_experience_company,home_to_work_distance,personel_num,category_Рабочие,category_Руководители,category_Служащие,category_Специалисты,education_Высшее,education_Начальное_среднее,education_Среднее_профессинальное,razryad_fact_0,razryad_fact_1,razryad_fact_2,razryad_fact_3,razryad_fact_4,razryad_fact_5,razryad_fact_6,orig_date,target
52,0,2019-08-01,1,13.0,NaN,NaN,1,0,0,0,0,1,0,0,0,0,0,0,1,0,2019-08-01,0
105,1,2019-08-01,1,14.0,NaN,121.0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,2019-08-01,0
158,2,2019-08-01,0,14.0,NaN,NaN,0,1,0,0,1,0,0,1,0,0,0,0,0,0,2019-08-01,0
211,3,2019-08-01,1,12.0,NaN,121.0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,2019-08-01,0
264,4,2019-08-01,1,12.0,NaN,121.0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,2019-08-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99209,2648,2019-08-01,1,NaN,4953.5,NaN,0,0,0,0,0,1,0,1,0,0,0,0,0,0,2019-08-01,0
99210,2649,2019-08-01,1,NaN,NaN,NaN,0,0,0,0,0,0,1,1,0,0,0,0,0,0,2019-08-01,0
99211,2650,2019-08-01,1,NaN,NaN,NaN,0,0,0,0,0,1,0,1,0,0,0,0,0,0,2019-08-01,0
99212,2651,2019-08-01,1,NaN,2463.8,170.0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,2019-08-01,0
99213,2652,2019-08-01,1,5.0,4671.1,121.0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,2019-08-01,0