In [1]:
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from pandas_profiling import ProfileReport

In [2]:
DATA_PATH = Path('../data/raw/')

# Employee

In [3]:
employee_df = pd.read_csv(DATA_PATH / 'sotrudniki.csv', sep=';', parse_dates=['date'])

In [4]:
employee_df.head()

,hash_tab_num,date,date_of_birth,is_local,gender,category,name_post_lvl4,name_post_lvl5,prof_post_augment,razryad_post,...,razryad_fact,married,child_num,work_experience_company,work_experience_factory,work_experience_all,education,sick,home_to_work_distance,home_to_work_duration
0,0,2015-04-01,1985,1,мужской,Рабочие,NaN,NaN,Должность_0,3,...,3,хол/нз,1,9.0,9.0,10.0,Среднее(полное)общее,0,NaN,NaN
1,0,2015-05-01,1985,1,мужской,Рабочие,NaN,NaN,Должность_0,3,...,3,хол/нз,1,9.0,9.0,10.0,Среднее(полное)общее,0,NaN,NaN
2,0,2015-06-01,1985,1,мужской,Рабочие,NaN,NaN,Должность_0,3,...,3,хол/нз,1,9.0,9.0,10.0,Среднее(полное)общее,0,NaN,NaN
3,0,2015-07-01,1985,1,мужской,Рабочие,NaN,NaN,Должность_0,3,...,3,хол/нз,1,9.0,9.0,10.0,Среднее(полное)общее,0,NaN,NaN
4,0,2015-08-01,1985,1,мужской,Рабочие,NaN,NaN,Должность_0,3,...,3,хол/нз,1,9.0,9.0,10.0,Среднее(полное)общее,0,NaN,NaN

In [5]:
employee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99214 entries, 0 to 99213
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   hash_tab_num             99214 non-null  int64
 1   date                     99214 non-null  datetime64[ns]
 2   date_of_birth            99214 non-null  int64
 3   is_local                 99214 non-null  int64
 4   gender                   99214 non-null  object
 5   category                 97944 non-null  object
 6   name_post_lvl4           66188 non-null  object
 7   name_post_lvl5           54222 non-null  object
 8   prof_post_augment        97944 non-null  object
 9   razryad_post             99214 non-null  int64
 10  name_fact_lvl4           66150 non-null  object
 11  name_fact_lvl5           54188 non-null  object
 12  prof_fact_augment        99214 non-null  object
 13  razryad_fact             99214 non-null  int64
 14  married                  86724 non-null  object
 15  child_num                99214 non-null  int64
 16  work_experience_company  91553 non-null  float64
 17  work_experience_factory  91553 non-null  float64
 18  work_experience_all      91553 non-null  float64
 19  education                99034 non-null  object
 20  sick                     99214 non-null  int64
 21  home_to_work_distance    89528 non-null  float64
 22  home_to_work_duration    89528 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(7), object(10)
memory usage: 17.4+ MB

In [6]:
profile = ProfileReport(employee_df, title='Employees dataframe')
profile.to_widgets()

Summarize dataset:   0%|          | 0/36 [00:00<?, ?it/s]

/home/ybudakyan/miniconda3/envs/nornikel/lib/python3.8/site-packages/scipy/stats/stats.py:4594: RuntimeWarning: overflow encountered in long_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

# Relatives

In [7]:
relatives_df = pd.read_csv(DATA_PATH / 'rodstvenniki.csv', sep=';')

In [8]:
relatives_df.head()

   hash_tab_num rel_type  rel_birth
0             0      Сын     2004.0
1             1      Сын     2006.0
2             1  Пасынок     2011.0
3             1     Жена     1982.0
4             1      Сын     2018.0

In [9]:
relatives_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4381 entries, 0 to 4380
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   hash_tab_num  4381 non-null   int64
 1   rel_type      4381 non-null   object
 2   rel_birth     4235 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 102.8+ KB

In [10]:
profile = ProfileReport(relatives_df, title='Relatives dataframe')
profile.to_widgets()

Summarize dataset:   0%|          | 0/16 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

# OGRV

In [11]:
ogrv_df = pd.read_csv(DATA_PATH / 'OGRV.csv', sep=';', parse_dates=['date'])

In [12]:
ogrv_df.head()

,hash_tab_num,date,graphic_rule_level_2,graphic_rule_level_1,number_of_working_hours,work_shift_type
0,886,2015-01-01,0833,Другое,"8,00",Смена 1
1,886,2015-01-02,0833,Другое,"8,00",Смена 1
2,886,2015-01-03,0003,Другое,"0,15",Смена 1
3,886,2015-01-04,0832,Другое,"8,00",Смена 2
4,886,2015-01-05,0832,Другое,"8,00",Смена 2

In [13]:
ogrv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194523 entries, 0 to 3194522
Data columns (total 6 columns):
 #   Column                   Dtype
---  ------                   -----
 0   hash_tab_num             int64
 1   date                     datetime64[ns]
 2   graphic_rule_level_2     object
 3   graphic_rule_level_1     object
 4   number_of_working_hours  object
 5   work_shift_type          object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 146.2+ MB

In [14]:
profile = ProfileReport(ogrv_df, title='OGRV dataframe')
profile.to_widgets()

Summarize dataset:   0%|          | 0/19 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…